$color_1: #797986;
$color_2: #262633;
$font-family_1: "Golos";
$font-family_2: "Road Radio";
$background-color_1: #F5F5F5;

.main__section {
	&:first-child {
		height: 160px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: $background-color_1;

		.main__section-name {
			border-top: 1px solid #d9d9e5;
			width: 100%;
			min-height: 100px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}

	.h1 {
		font-family: $font-family_2;
		font-size: 46px;
		font-weight: 400;
		line-height: 46px;
		text-align: center;
		color: $color_2;
	}
}

.main__section-pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 60px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 130px;

	.main__section-link {
		font-family: $font-family_1;
		font-size: 12px;
		font-weight: 400;
		line-height: 14.4px;
		text-align: center;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_1;

		&:hover {
			color: $color_1;
		}
	}
}

@media only screen and (max-width:800px) {
	.main__section {
		&:first-child {
			height: 110px;
			width: 100%;

			.main__section-name {
				border-top: 1px solid #d9d9e5;
				width: 100%;
				min-height: 62px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}
		}

		.h1 {
			font-size: 32px;
			line-height: 32px;
			font-size: 22px;
			line-height: 26px;
		}
	}

	.main__section-pages {
		min-height: 48px;
		width: 130px;

		.main__section-link {
			font-size: 12px;
		}
	}
}