/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/css/styles.css ***!
  \********************************************************************************************************************/
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Golos";
  src: url(cddbe8e99d0cef3d85fb89c972a7f058.ttf);
}
@font-face {
  font-family: "Road Radio";
  src: url(9e2688692f354834f870d6e7e3e627a1.woff2);
}
@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url(bc17bd9624a2c3ea0116540983cbad68.ttf);
}
@font-face {
  font-family: "Graphik LC Web";
  src: url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot");
  src: url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff") format("woff"), url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.svg#Graphik LC Web Regular") format("svg");
}
.header {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__nav {
  width: 1300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav .button {
  width: 192px;
  height: 52px;
  background-color: #BF2738;
  font-family: "Road Radio";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  border-radius: 14px;
}

.header__nav .button:hover {
  background-color: #FFFFFF;
  color: #262633;
  border: 1px solid #BF2738;
  white-space: nowrap;
}

.header__nav-menu {
  width: 32px;
  height: 12px;
}

.header__nav-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 46px;
}

.header__nav-link {
  font-family: "Golos";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
}

.header__nav-logo {
  width: 106px;
  height: 64px;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 52px;
}

.header__nav-sravn {
  width: 12px;
  height: 16px;
}

.header__nav-poisk {
  width: 18px;
  height: 18px;
}

.header__nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}

.header__nav-contacts .phone {
  font-family: "Golos";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
}

.header__nav-contacts .pochta {
  font-family: "Graphik LC Web";
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

@media only screen and (max-width: 1300px) {
  .header {
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__nav-logo {
    width: 90px !important;
    height: 30px !important;
  }
  .header__nav-link {
    font-size: 14px;
  }
  .header__nav-link:nth-child(3) {
    display: none;
  }
  .header__nav-pages {
    gap: 30px;
  }
  .header__nav {
    width: 700px;
    height: 100%;
  }
  .header__nav .button {
    display: none;
  }
  .header__nav-menu {
    width: 23px;
    height: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    height: 65px;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .header__nav {
    width: 100%;
  }
  .header__nav .button {
    display: none;
  }
  .header__nav-logo {
    margin-left: 20px;
    width: 67px !important;
    height: 40px !important;
  }
  .header__nav-pages {
    display: none;
  }
  .header__nav-contacts {
    display: none;
  }
  .header__nav-menu {
    width: 23px;
    height: 8px;
  }
}
.main__section:first-child {
  height: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F5F5F5;
}

.main__section:first-child .main__section-name {
  border-top: 1px solid #d9d9e5;
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__section .h1 {
  font-family: "Road Radio";
  font-size: 46px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  color: #262633;
}

.main__section-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
}

.main__section-pages .main__section-link {
  font-family: "Golos";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

.main__section-pages .main__section-link:hover {
  color: #797986;
}

@media only screen and (max-width: 800px) {
  .main__section:first-child {
    height: 110px;
    width: 100%;
  }
  .main__section:first-child .main__section-name {
    border-top: 1px solid #d9d9e5;
    width: 100%;
    min-height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main__section .h1 {
    font-size: 32px;
    line-height: 32px;
    font-size: 22px;
    line-height: 26px;
  }
  .main__section-pages {
    min-height: 48px;
    width: 130px;
  }
  .main__section-pages .main__section-link {
    font-size: 12px;
  }
}
.main__section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1300px;
  margin: 60px auto;
}

.main__section:nth-child(2) .main__section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__section:nth-child(2) .main__section-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__section:nth-child(2) .main__section-contacts a:first-child {
  font-family: "Road Radio";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
}

.main__section:nth-child(2) .main__section-contacts a:nth-child(2) {
  font-family: "Golos";
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #BF2738;
}

.main__section:nth-child(2) .main__section-name {
  font-family: "Golos";
  font-size: 17px;
  font-weight: 400;
  line-height: 18.7px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main__section:nth-child(2) .main__section-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 320px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__section:nth-child(2) .main__section-data .main__section-text {
  font-family: "Golos";
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #808080;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form h2 {
  font-family: "Road Radio";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
}

.form .form__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form .input.check {
  border: 1px solid #E6E6E6 !important;
  background-color: #FFFFFF !important;
}

.form .input.blur {
  border: 0px solid #E6E6E6 !important;
  background-color: #F5F5F5 !important;
}

.form .textarea.check {
  border: 1px solid #E6E6E6 !important;
  background-color: #FFFFFF !important;
}

.form .textarea.blur {
  border: 0px solid #E6E6E6 !important;
  background-color: #F5F5F5 !important;
}

.form .textarea.error {
  background-color: rgba(191, 39, 56, 0.1215686275);
}

.form .textarea.error::-webkit-input-placeholder {
  color: #BF2738;
}

.form .textarea.error::-moz-placeholder {
  color: #BF2738;
}

.form .textarea.error:-ms-input-placeholder {
  color: #BF2738;
}

.form .textarea.error::-ms-input-placeholder {
  color: #BF2738;
}

.form .textarea.error::placeholder {
  color: #BF2738;
}

.form .input.error {
  background-color: rgba(191, 39, 56, 0.1215686275) !important;
}

.form .label.error {
  color: #BF2738;
}

.form .label.template {
  top: 0px;
  font-size: 12px;
}

#inputs__textMob {
  display: none;
}

.form__person-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.form__person-inputs .inputs__text .input {
  width: 300px;
  height: 52px;
  padding: 17px 203px 11px 20px;
  gap: 0px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #F5F5F5;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.form__person-inputs .inputs__text .input:hover {
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
}

.form__person-inputs .inputs__text .input .show {
  background-color: #FFFFFF;
  border: 1px solid #F5F5F5;
}

.form__person-inputs .label {
  top: 14px;
  left: 5px;
  position: absolute;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #5E5E5E;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.inputs__text {
  position: relative;
}

.inputs__text:focus .input {
  background-color: #FFFFFF;
}

.input:not(:-moz-placeholder-shown):focus + .label {
  top: 0px;
  left: 5px;
  font-size: 12px;
}

.input:not(:-ms-input-placeholder):focus + .label {
  top: 0px;
  left: 5px;
  font-size: 12px;
}

.input:not(:placeholder-shown):focus + .label {
  top: 0px;
  left: 5px;
  font-size: 12px;
}

.input:focus + .label {
  top: 0px;
  left: 5px;
  font-size: 12px;
}

.textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 630px;
  height: 133px;
  padding: 17px 475px 92px 20px;
  gap: 0px;
  border-radius: 14px;
  outline: none;
  opacity: 0px;
  background-color: #F5F5F5;
  margin-bottom: 20px;
}

.form__person .button {
  width: 190px;
  height: 52px;
  padding: 0px 36px 0px 37px;
  gap: 0px;
  border-radius: 14px;
  opacity: 0px;
  background-color: #BF2738;
  font-family: "Road Radio";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-top: 30px;
}

.form__person .button:hover {
  background-color: #FFFFFF;
  color: #262633;
  border: 1px solid #BF2738;
  white-space: nowrap;
}

.form__person label {
  font-family: "Golos";
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #808080;
  margin-left: 16px;
}

.form__person span {
  color: #262633;
}

.form__person-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media only screen and (max-width: 1300px) {
  .main__section:nth-child(2) {
    width: 700px;
    margin: 40px auto;
  }
  .main__section:nth-child(2) .main__section-contacts a:first-child {
    font-size: 28px;
    line-height: 33px;
    white-space: nowrap;
  }
  .main__section:nth-child(2) .main__section-name {
    font-size: 14px;
    line-height: 18px;
  }
  .main__section:nth-child(2) .main__section-data {
    height: 380px;
  }
  .main__section-info {
    width: 287px;
    height: 590px;
  }
  .form {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form h2 {
    font-size: 28px;
    line-height: 33px;
  }
  .form .form__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form__person-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 10px;
  }
  .form__person-inputs .input {
    min-width: 350px;
    max-width: 350px;
    height: 52px;
  }
  .textarea {
    width: 350px;
    height: 166px;
    padding: 17px 0px 92px 0px;
    margin-bottom: 20px;
  }
  .textarea::-webkit-input-placeholder {
    padding-left: 20px;
  }
  .textarea::-moz-placeholder {
    padding-left: 20px;
  }
  .textarea:-ms-input-placeholder {
    padding-left: 20px;
  }
  .textarea::-ms-input-placeholder {
    padding-left: 20px;
  }
  .textarea::placeholder {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .main__section:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
  }
  .main__section:nth-child(2) .main__section-info {
    width: 100%;
  }
  .main__section:nth-child(2) .input {
    width: 100%;
  }
  .main__section:nth-child(2) .textarea {
    width: 100%;
  }
  #inputs__textMob {
    display: block;
  }
  .form {
    margin-top: 50px;
    width: 90vw;
  }
  .form h2 {
    font-size: 20px;
  }
  .form__inputs {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form__person-check {
    width: 100%;
  }
  .form__person-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 10px;
  }
  .form__person-inputs .input {
    min-width: 100%;
    max-width: 100%;
    height: 52px;
  }
  .textarea {
    min-width: 100%;
    max-width: 100%;
    height: 166px;
    padding: 17px 0px 92px 16px;
    margin-bottom: 20px;
  }
  .textarea::placeholder {
    padding-left: 5px;
  }
  #inputs__textWeb {
    display: none;
  }
}
.main__section:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.main__section:nth-child(3) .map {
  width: 100%;
}

.main__section:nth-child(3) .main__section-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  width: 1300px;
  min-height: 650px;
  max-height: 1400px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.main__section-city {
  width: 300px;
  height: 310px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #F5F5F5;
  padding: 33px 16px 40px 22px;
}

.main__section-city:last-child {
  width: 630px;
  height: 310px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  background-color: #F5F5F5;
  padding: 33px 16px 40px 22px;
}

.main__section-city h3 {
  font-family: "Road Radio";
  font-size: 26px;
  font-weight: 400;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
  margin-bottom: 15px;
}

.main__section-city .phone {
  font-family: "Golos";
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
  margin-bottom: 10px;
  white-space: wrap;
}

.main__section-city .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-family: "Golos";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

.main__section-city .wayToAdress {
  color: #BF2738;
}

.main__section-city .timeOfWorking {
  font-family: "Golos";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #262633;
  margin-top: 20px;
}

.map {
  height: 600px;
  filter: grayscale(80%);
}

@media only screen and (max-width: 1300px) {
  .main__section:nth-child(3) {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .main__section:nth-child(3) .map {
    height: 480px;
  }
  .main__section:nth-child(3) .main__section-cities {
    gap: 10px;
    width: 710px;
    min-height: 1000px;
    max-height: 2950px;
    margin-top: 59px;
    margin-bottom: 60px;
  }
  .main__section-city {
    width: 350px;
  }
  .main__section-city:last-child {
    width: 100%;
    height: 270px;
  }
}
@media only screen and (max-width: 800px) {
  .main__section:nth-child(3) .main__section-cities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .main__section:nth-child(3) .main__section-cities .main__section-city {
    width: 95%;
  }
  .main__section:nth-child(3) .main__section-cities .main__section-city:last-child {
    width: 95%;
    height: 360px;
  }
  .main__section:nth-child(3) .main__section-cities .main__section-city .phone {
    white-space: wrap;
  }
}
.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 467px;
  max-height: 467px;
  background-color: #222225;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer__main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 63px;
  width: 1300px;
  z-index: 300;
}

.footer__line {
  position: absolute;
  height: 1px;
  width: 100%;
  top: 400px;
  background-color: #797986;
  z-index: 200;
}

.footer__back {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  background-color: #2A2A2E;
}

.footer__inner-text:nth-child(3) {
  padding-top: 40px;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

.footer__inner-text:nth-child(3) .span {
  color: #FFFFFF;
}

.footer__inner-text:nth-child(3) .span:hover {
  color: #F23147;
}

.footer__inner-text:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.footer__inner-text:nth-child(1) .footer__link {
  font-family: "Golos";
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.footer__inner-text:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 58px;
  gap: 16px;
}

.footer__inner-text:nth-child(2) .footer__link {
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

.footer__inner-text:nth-child(2) .footer__link:hover {
  color: #FFFFFF;
}

.footer__inner-text:nth-child(4) {
  display: none;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: #797986;
}

.footer__inner:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 490px;
  height: 378px;
}

.footer__inner:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 512px;
  height: 378px;
}

.footer__inner:nth-child(2) .footer__inner-text:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts .phones {
  font-family: "Golos";
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts .pochta {
  font-family: "Golos";
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #797986;
}

.footer__inner:nth-child(2) .footer__inner-text:first-child .button {
  width: 190px;
  height: 52px;
  white-space: nowrap;
  padding: 0px 27px 0px 27px;
  gap: 0px;
  border-radius: 14px;
  opacity: 0px;
  border: 2px solid #494950;
  font-family: "Road Radio";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.footer__inner:nth-child(2) .footer__inner-text:nth-child(2) {
  height: 58px;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}

.footer__main-down {
  position: absolute;
  padding: 0px;
  height: 14px;
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 300;
  top: 425px;
}

.footer__main-down .footer__inner-text {
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  color: #797986;
}

.footer__main-down .footer__inner-text:nth-child(2) {
  width: 512px;
  text-align: left;
}

@media only screen and (max-width: 1300px) {
  .footer {
    position: relative;
    width: 100%;
    min-height: 420px;
    max-height: 420px;
    bottom: 0;
  }
  .footer__main {
    margin-top: 43px;
    width: 700px;
    z-index: 300;
  }
  .footer__line {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 360px;
    background-color: #797986;
    z-index: 200;
  }
  .footer__back {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-color: #2A2A2E;
  }
  .footer__inner:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 490px;
    max-height: 353px;
  }
  .footer__inner:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 290px;
    max-height: 353px;
  }
  .footer__inner:nth-child(2) .footer__inner-text:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
  }
  .footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts .phones {
    font-family: "Golos";
    font-size: 23px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
  }
  .footer__inner:nth-child(2) .footer__inner-text:first-child .footer__inner-contacts .pochta {
    font-family: "Golos";
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #F23147;
  }
  .footer__inner:nth-child(2) .footer__inner-text:first-child .button {
    width: 190px;
    height: 52px;
    white-space: nowrap;
    padding: 0px 27px 0px 27px;
    gap: 0px;
    border-radius: 14px;
    opacity: 0px;
    border: 2px solid #494950;
    font-family: "Road Radio";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
  }
  .footer__inner:nth-child(2) .footer__inner-text:nth-child(2) {
    width: 287px;
    height: 58px;
    font-family: "Akzidenz-Grotesk Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
  }
  .footer__inner-text:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0px;
  }
  .footer__inner-text:nth-child(1) .footer__link {
    font-family: "Golos";
    font-size: 20px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
  }
  .footer__inner-text:nth-child(1) .footer__link:hover {
    color: #F23147;
  }
  .footer__inner-text:nth-child(3) {
    padding-top: 40px;
    font-family: "Akzidenz-Grotesk Pro";
    font-size: 13px;
    font-weight: 400;
    line-height: 14.3px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #797986;
  }
  .footer__inner-text:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 350px;
    height: 87px;
    max-height: 87px;
    gap: 7px;
  }
  .footer__inner-text:nth-child(2) .footer__link {
    font-family: "Akzidenz-Grotesk Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #797986;
  }
  .footer__inner-text:nth-child(2) .footer__link:hover {
    color: #FFFFFF;
  }
  .footer__main-down {
    position: absolute;
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 250;
    top: 30px;
  }
  .footer__main-down .footer__inner-text {
    font-family: "Akzidenz-Grotesk Pro";
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    color: #797986;
  }
  .footer__main-down .footer__inner-text:nth-child(2) {
    width: 287px;
    text-align: left;
  }
  .footer__main-down .footer__inner-text:nth-child(2) .span:hover {
    color: #F23147;
  }
}
@media only screen and (max-width: 800px) {
  .footer {
    min-height: 788px;
  }
  .footer__main {
    width: 287px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__back {
    height: 50%;
    bottom: 0;
    width: 100%;
  }
  .footer__line {
    top: 700px;
  }
  .footer__inner:first-child {
    height: 300px;
    margin-bottom: 80px;
    max-width: 287px;
  }
  .footer__inner:first-child .footer__inner-text {
    max-width: 287px;
  }
  .footer__inner:nth-child(2) {
    height: 340px;
  }
  .footer__inner:nth-child(1) .footer__inner-text:nth-child(3) {
    display: none;
  }
  .footer__inner-text:nth-child(4) {
    display: block !important;
  }
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


