$color_1: #262633;
$color_2: #797986;
$color_3: #FFFFFF;
$font-family_1: "Golos";
$font-family_2: "Graphik LC Web";
$font-family_3: "Road Radio";
$background-color_1: #BF2738;
$background-color_2: #FFFFFF;

.header {
	width: 100%;
	height: 92px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header__nav {
	width: 1300px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.button {
		width: 192px;
		height: 52px;
		background-color: $background-color_1;
		font-family: $font-family_3;
		font-size: 14px;
		font-weight: 400;
		line-height: 14px;
		text-align: center;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_3;
		border-radius: 14px;

		&:hover {
			background-color: $background-color_2;
			color: $color_1;
			border: 1px solid #BF2738;
			white-space: nowrap;
		}
	}
}

.header__nav-menu {
	width: 32px;
	height: 12px;
}

.header__nav-pages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 46px;
}

.header__nav-link {
	font-family: $font-family_1;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	text-underline-position: from-font;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
	color: $color_1;
}

.header__nav-logo {
	width: 106px;
	height: 64px;
}

.header__nav-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 52px;
}

.header__nav-sravn {
	width: 12px;
	height: 16px;
}

.header__nav-poisk {
	width: 18px;
	height: 18px;
}

.header__nav-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 6px;

	.phone {
		font-family: $font-family_1;
		font-size: 15px;
		font-weight: 500;
		line-height: 18px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_1;
	}

	.pochta {
		font-family: $font-family_2;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_2;
	}
}

@media only screen and (max-width:800px) {
	.header {
		height: 65px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.header__nav-logo {
		width: 90px !important;
		height: 30px !important;
	}

	.header__nav-link {
		font-size: 14px;

		&:nth-child(3) {
			display: none;
		}
	}

	.header__nav-pages {
		gap: 30px;
	}

	.header__nav {
		.button {
			display: none;
		}

		width: 700px;
		height: 100%;
	}

	.header__nav-menu {
		width: 23px;
		height: 12px;
	}
}

@media only screen and (max-width:400px) {
	.header {
		height: 65px;
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	.header__nav {
		width: 100%;

		.button {
			display: none;
		}
	}

	.header__nav-logo {
		margin-left: 20px;
		width: 67px !important;
		height: 40px !important;
	}

	.header__nav-pages {
		display: none;
	}

	.header__nav-contacts {
		display: none;
	}

	.header__nav-menu {
		width: 23px;
		height: 8px;
	}
}