$color_1: #262633;
$color_2: #797986;
$color_3: #BF2738;
$font-family_1: "Road Radio";
$font-family_2: "Golos";
$background-color_1: #F5F5F5;

.main__section {
	&:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;

		.map {
			width: 100%;
		}

		.main__section-cities {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			gap: 30px;
			width: 1300px;
			min-height: 650px;
			max-height: 1400px;
			margin-top: 80px;
			margin-bottom: 100px;
		}
	}
}

.main__section-city {
	width: 300px;
	height: 310px;
	gap: 0px;
	border-radius: 20px;
	opacity: 0px;
	background-color: $background-color_1;
	padding: 33px 16px 40px 22px;

	&:last-child {
		width: 630px;
		height: 310px;
		gap: 0px;
		border-radius: 20px;
		opacity: 0px;
		background-color: $background-color_1;
		padding: 33px 16px 40px 22px;
	}

	h3 {
		font-family: $font-family_1;
		font-size: 26px;
		font-weight: 400;
		line-height: 28.6px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_1;
		margin-bottom: 15px;
	}

	.phone {
		font-family: $font-family_2;
		font-size: 19px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_1;
		margin-bottom: 10px;
		white-space: wrap;
	}

	.adress {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 10px;
		font-family: $font-family_2;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_2;
	}

	.wayToAdress {
		color: $color_3;
	}

	.timeOfWorking {
		font-family: $font-family_2;
		font-size: 14px;
		font-weight: 400;
		line-height: 19.6px;
		text-align: left;
		text-underline-position: from-font;
		-webkit-text-decoration-skip-ink: none;
		text-decoration-skip-ink: none;
		color: $color_1;
		margin-top: 20px;
	}
}

.map {
	height: 600px;
	filter: grayscale(80%);
}

@media only screen and (max-width:800px) {
	.main__section {
		&:nth-child(3) {
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			gap: 10px;
			width: 100%;

			.map {
				height: 480px;
			}

			.main__section-cities {
				gap: 10px;
				width: 710px;
				min-height: 1000px;
				max-height: 2950px;
				margin-top: 59px;
				margin-bottom: 60px;
			}
		}
	}

	.main__section-city {
		width: 350px;

		&:last-child {
			width: 100%;
			height: 270px;
		}
	}
}

@media only screen and (max-width:400px) {
	.main__section {
		&:nth-child(3) {
			.main__section-cities {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				width: 100%;

				.main__section-city {
					width: 95%;

					&:last-child {
						width: 95%;
						height: 360px;
					}

					.phone {
						white-space: wrap;
					}
				}
			}
		}
	}
}